.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.clock::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: red;
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-45%, -45%);
    z-index: 1;
    border-radius: 50%;
}

.clock__face {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.clock__face-mark {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 50%;
}

.clock__hand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.clock__hand-body {
    background-color: black;
    width: 2px;
    top: 12%;
    bottom: 40%;
    position: absolute;;
}

.clock__hand-body--hour {
    top: 22%;
}

.clock__hand-body--second {
    display: none;
    /* width: 6px; */
    background-color: red;
}